<%- include("../partials/header") %>

<form action="/skills" method="POST">
    <input type="text" name="name" placeholder="Skill">
    <input type="int" name="level" placeholder="Proficiency">
    <button type="submit">Save Skill</button>
</form>



<%- include("../partials/footer") %>